#container {
  max-width: 1140px;
  margin: 0 auto; }

body {
  background-color: black; }

header {
  background-color: #CCC394; }
  header h1 {
    font-size: 4em;
    padding: 2%;
    font-family: "Rambla", sans-serif; }

nav ul {
  border: 1px #cccccc solid;
  margin: 0.5em 2%;
  background-color: #f3f3f3;
  box-shadow: 0 0 5px #666666;
  border-radius: 5px; }
  nav ul li a {
    padding: .4em;
    display: block;
    text-align: center;
    border-top: 1px black solid;
    color: black;
    text-decoration: none; }
  nav ul li:first-child a {
    border-top: none;
    border-radius: 5px 5px 0 0; }
  nav ul li:last-child a {
    border-radius: 0 0 5px 5px; }
  nav ul li .selected {
    background-color: #F2DBA5;
    color: white; }

div #main {
  padding: 0.2em 2%;
  background-color: white; }
  div #main h3 {
    font-size: 2em; }

footer {
  text-align: center;
  background-color: #808C5F;
  color: white; }
  footer #content {
    padding: .5em; }
