#container {
  max-width: 960px;
  margin: 0 auto; }

#container {
  background-color: #F2F2F2; }

header {
  background-color: #D97F30; }
  header #phone {
    float: right;
    margin-top: .6em;
    margin-right: 2%; }
  header h1 {
    font-size: 3em; }

nav {
  padding: 0.5em 0;
  background: #D94F30; }
  nav ul {
    display: none; }
  nav select {
    width: 96%;
    margin: 0 2%; }

#content h3 {
  font-size: 1.5em;
  padding-top: 1.1em; }

article {
  clear: both;
  padding: 0.5em 2%; }

figure.right {
  width: 41.666%;
  margin-left: 2%;
  border: 1px solid gray;
  padding: .5em;
  float: right; }
  figure.right img {
    width: 100%; }
  figure.right figcaption {
    text-align: center; }

#social {
  background-color: #D97F30;
  clear: both; }
  #social .box a {
    width: 29.3333%;
    margin: 1em 2%;
    float: left;
    border-radius: 10px;
    height: 2em;
    text-align: center;
    color: #F2B035;
    padding-top: .7em;
    text-decoration: none;
    background-color: #262425; }

footer p {
  padding: 1em 0;
  margin: 0 2%; }

.clear {
  clear: both; }
