@media only screen and (min-width: 1141px) {

 $myfont: 'Rambla', sans-serif;
$borderRadius: 5px;

#prettyBar{
    display:none;
}

//Header
header{

} //End Header

// Navigation

div #nav-contain{
    width:100%;
    background-color: #B3CCA2;
    float: none;

    nav {
        display: block;

        li{
            float: left;
            border-left: solid 1px black;

            &:first-child a{
                border-top: solid 1px black;
                border-radius: 00 0 0;
            }
        }
    }

}

#nav-side{
    width: 91.666%;
    background-color: #808C5F;
    
}

#nav-middle{
    margin-left: 18.181%;
    background-color: gray;
}

.clear{
    clear:both;
}
 // End Nav

 figure.floatMe{
    width: 30%;
    float:right;
    margin-right: 0;
    margin-left: 2%;
}


// Body
div #main{
    margin-left:0;
    background-color: gray;
    float:none;
    padding: 0%;
    width: 91.666%;

    #left-col{
        background-color: #717171;
    }

    article{
        display:block;
        margin-left: 18.181%;
        background-color: white;
        padding: .2em 2%;
    }

    #mainContain{
        display:block;
        margin-left: 18.181%;
        background-color: white;
        padding: .2em 2%;
    }
}

// Footer
footer{

    #foot-side{
        width: 91.666%;
        margin: 0;
        background-color: #B3CCA2;
    }
    #content{
        margin-left: 18.181%;
        background-color: #2F3838;
    }
}

}  