@media only screen and (min-width: 550px) {

$black: #00010D;
$darkRed: #590212;
$midRed: #8c030E;
$lowRed: #D90416;
$white: #f2E9f2;

header{
    h1{
        font-size: 5em;
    }
}

.first{
    h1{
        padding-left: 2%;
    }

    p{
        padding-left: 2%;
    }
}

nav{
    background-color: black;

    ul{
        display: block;

        li{
            float: left;
            border-right: 1px solid white;
            border-left: 1px solid black;
            border-bottom: none;

            ul{
                z-index: 99;
                position: absolute;
                left: -999em;

                li{
                    float: none;
                    border:none;
                }
            }

            a{
                display:block;
                padding:.7em;
                text-decoration: none;
                border-top: 1px solid  black;
                border-bottom: 1px solid white;
                color: $white;
                font-weight: 600;
                background: $midRed;
            }

            li{
                a{
                    color: light gray;
                    padding:.7em;
                    padding-left: 20px;
                    font-size:.8em;
                    background: $midRed;
                }
            }
        }
    }
}   

nav li:hover ul{
    left:auto;
}

.col{
    clear:both;
}

article{
    width: 46%;
    float: left;

}




#social{
    .box a {
        width: 12.666%;
    }
}

}